*.iml
*.pyc
*.DS_Store
*.vbb
*.csv
*.png
*.jpeg
*.pkls
*.pt
\20*
__pycache__/
__pycache__
.idea
.idea/
annotations-vbb.zip
annotations/
annotations-xml/
archived/
/classes/
Sets/
/train/
/fe_embed/
/saved_models
