*.iml
*.pyc
*.DS_Store
*.pt
*.vbb
*.csv
*.png
*.jpeg
__pycache__/
__pycache__
.idea
.idea/
annotations-vbb.zip
annotations/
annotations-xml/
archived/
Sets/
/train/
/fe_embed/
test.py
img_rev_transform.py
