*.iml
*.pyc
*.DS_Store
*.vbb
*.csv
*.png
*.jpeg
*.pkls
*.pt
*.m
\20*
__pycache__/
__pycache__
.idea
.idea/
annotations-vbb.zip
annotations/
annotations-xml/
archived/
/classes/
Sets/
/train/
/fe_embed/
/saved_models
/wandb/
train_model_wandb.py
train_again.py
one_batch_train.py
train_model_q.py